

<!--<div class="grid">-->
<!--    <div class="col-6 lg:col-4 xl:col-2">-->
<!--        <div class="card mb-0">-->
<!--            <div class="flex justify-content-between mb-3">-->
<!--                <div>-->
<!--                    <div class="text-900 font-medium text-xl mt-2">{{Total_Clients}}</div>-->
<!--                    <span class="block text-500 font-medium mt-5">Totale des clients</span>-->
<!--                </div>-->
<!--                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2rem', height: '2.5rem'}">-->
<!--                    <i class="pi pi-chart-bar text-orange-500 text-xl"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-6 lg:col-4 xl:col-2">-->
<!--        <div class="card mb-0">-->
<!--            <div class="flex justify-content-between mb-3">-->
<!--                <div>-->
<!--                    <div class="text-900 font-medium text-xl mt-2">{{Total_Active_Clients}}</div>-->
<!--                    <span class="block text-500 font-medium mt-5">Clients actifs</span>-->
<!--                </div>-->
<!--                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2rem', height: '2.5rem'}">-->
<!--                    <i class="pi pi-check-circle text-blue-500 text-xl"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-6 lg:col-4 xl:col-2">-->
<!--        <div class="card mb-0">-->
<!--            <div class="flex justify-content-between mb-3">-->
<!--                <div>-->
<!--                    <div class="text-900 font-medium text-xl mt-2">{{Total_Inactive_Clients}}</div>-->
<!--                    <span class="block text-500 font-medium mt-5">Clients inactifs</span>-->
<!--                </div>-->
<!--                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2rem', height: '2.5rem'}">-->
<!--                    <i class="pi pi-circle text-purple-500 text-xl"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-6 lg:col-4 xl:col-2">-->
<!--        <div class="card mb-0">-->
<!--            <div class="flex justify-content-between mb-3">-->
<!--                <div>-->
<!--                    <div class="text-900 font-medium text-xl mt-2">{{Total_Active_Contacts}}</div>-->
<!--                    <span class="block text-500 font-medium mt-5">Contacts actifs</span>-->
<!--                </div>-->
<!--                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2rem', height: '2.5rem'}">-->
<!--                    <i class="pi pi-check-circle text-blue-500 text-xl"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-6 lg:col-4 xl:col-2">-->
<!--        <div class="card mb-0">-->
<!--            <div class="flex justify-content-between mb-3">-->
<!--                <div>-->
<!--                    <div class="text-900 font-medium text-xl mt-2">{{Total_Inactive_Contacts}}</div>-->
<!--                    <span class="block text-500 font-medium mt-5">Contacts inactifs</span>-->
<!--                </div>-->
<!--                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2rem', height: '2.5rem'}">-->
<!--                    <i class="pi pi-circle text-purple-500 text-xl"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-6 lg:col-4 xl:col-2">-->
<!--        <div class="card mb-0">-->
<!--            <div class="flex justify-content-between mb-3">-->
<!--                <div>-->
<!--                    <div class="text-900 font-medium text-xl mt-2">{{Total_Contacts}}</div>-->
<!--                    <span class="block text-500 font-medium mt-5">Totale des contacts</span>-->
<!--                </div>-->
<!--                <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2rem', height: '2.5rem'}">-->
<!--                    <i class="pi pi-chart-bar text-green-500 text-xl"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-selectButton [options]="categories" [(ngModel)]="category" [multiple]="false" optionLabel="name" (onChange)="onCategorySelect()"></p-selectButton>
                <h5>Galery</h5>
                <p-dataView #dv [value]="paints" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="list">
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                            <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"></p-dropdown>
                            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
                        </span>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>

                    <ng-template let-paint pTemplate="listItem">
                        <div class="col-12">
                            <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
<!--                                <img *ngIf="paint.image" [src]="'http://localhost:8080/api/paints/imagePaint/'+paint.paintId" [alt]="paint.name" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>-->
                                <p-image src="http://localhost:8080/api/paints/imagePaint/{{paint.paintId}}"
                                         alt="Image" style="max-width: 100%; height: auto;"
                                         width="300" height="200"
                                         [preview]="true"></p-image>
<!--                                alt="Image" width="300" height="200"-->
<!--                                <div class="card">-->
<!--                                    <h5>Image</h5>-->
<!--                                    <div class="flex justify-content-center">-->
<!--                                        <p-image src="'http://localhost:8080/api/paints/imagePaint/'{{paint.paintId}}" alt="Image" width="250" [preview]="true"></p-image>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                    <div *ngIf="paint.name" class="font-bold text-2xl">{{paint.name}}</div>
                                    <div *ngIf="paint.descPaint" class="mb-2">{{paint.descPaint}}</div>
                                    <p-rating *ngIf="paint.rating" [ngModel]="paint.rating" [readonly]="true" [cancel]="false" styleClass="mb-2"></p-rating>
                                    <div *ngIf="paint.category" class="flex align-items-center mt-2">
                                        <i class="pi pi-tag mr-2"></i>
                                        <span class="font-semibold">{{paint.category}}</span>
                                    </div>
                                </div>
                                <div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                                    <span *ngIf="paint.price" class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">${{paint.price}}</span>
                                    <p-button *ngIf="paint.inventoryStatus" icon="pi pi-shopping-cart" (onClick)="onPay(paint.paintId)" label="Add to Cart" [disabled]="paint.inventoryStatus === 'OUTOFSTOCK'" styleClass="mb-2 p-button-sm"></p-button>
                                    <span *ngIf="paint.inventoryStatus" [class]="'product-badge status-' + paint.inventoryStatus.toLowerCase()">{{paint.inventoryStatus}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template let-paint  pTemplate="gridItem">
<!--                        class="col-6 lg:col-4 xl:col-2"-->
                        <div class="col-12 lg:col-6 xl:col-4">
                            <div class="card m-3 border-1 surface-border">
                                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                                    <div class="flex align-items-center">
                                        <i class="pi pi-tag mr-2"></i>
                                        <span *ngIf="paint.category" class="font-semibold">{{paint.category}}</span>
                                    </div>
                                    <span *ngIf="paint.inventoryStatus" [class]="'product-badge status-' + paint.inventoryStatus.toLowerCase()">{{paint.inventoryStatus}}</span>
                                </div>
                                <div class="flex flex-column align-items-center text-center mb-3">
<!--                                    <img *ngIf="paint.image " [src]="'http://localhost:8080/api/paints/imagePaint/'+paint.paintId" [alt]="paint.name" [style]="{'width': '300px', 'height': '200px', 'object-fit': 'cover'}" class="w-9 shadow-2 my-3 mx-0"/>-->
                                    <p-image src="http://localhost:8080/api/paints/imagePaint/{{paint.paintId}}"
                                             alt="Image" width="100%" height="200px"
                                             [preview]="true"></p-image>
                                    <div class="text-2xl font-bold">{{paint.name}}</div>
                                    <div *ngIf="paint.descPaint" class="mb-3">{{paint.descPaint}}</div>
                                    <p-rating *ngIf="paint.rating" [ngModel]="paint.rating" [readonly]="true" [cancel]="false"></p-rating>
                                </div>
                                <div class="flex align-items-center justify-content-between">
                                    <span *ngIf="paint.price" class="text-2xl font-semibold">${{paint.price}}</span>
                                    <p-button *ngIf="paint.inventoryStatus" icon="pi pi-shopping-cart" (onClick)="onPay(paint.paintId)" [disabled]="paint.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>



        </div>

        <p-dialog [(visible)]="paymentDialog" [style]="{width: '450px'}" header="Payment form" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img src="http://localhost:8080/api/paints/imagePaint/{{paintId}}" width="150" class="mt-0 mx-auto mb-5 block shadow-2" >
                <div class="field">
                    <label for="cardHolderName">CardHolder Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="paymentInformation.cardHolderName" required autofocus />
<!--                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>-->
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="name" [(ngModel)]="paymentInformation.email" required autofocus />
                    <!--                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>-->
                </div>
                <div class="field">
                    <label for="Card Number">Card Number</label>
                    <input type="text" pInputText id="name" [(ngModel)]="paymentInformation.cardNumber" required autofocus />
                    <!--                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>-->
                </div>
                <div class="field">
                    <label for="Expiry Date">Expiry Date</label>
                    <input type="text" pInputText id="name" [(ngModel)]="paymentInformation.expiry" required autofocus />
                    <!--                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>-->
                </div>
                <div class="field">
                    <label for="CVV">CVV</label>
                    <input type="text" pInputText id="name" [(ngModel)]="paymentInformation.cvvCvc" required autofocus />
                    <!--                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>-->
                </div>


                        <button pButton  type="submit" label="Submit" class="p-mr-2"></button>








<!--                <div class="formgrid grid">-->
<!--                    <div class="field col">-->
<!--                        <label for="price">Price</label>-->
<!--                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>-->
<!--                    </div>-->
<!--                    <div class="field col">-->
<!--                        <label for="quantity">Quantity</label>-->
<!--                        <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </ng-template>-->

<!--            <ng-template pTemplate="footer">-->
<!--                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>-->
<!--                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>-->
            </ng-template>
        </p-dialog>

    </div>
</div>
